%h1 タイムカード

.row
  .col-md-6.col-md-offset-3
    %p 今日は #{date_in_japanese}です。
    %p
      現在状況
      %span#work-status= working_status(@time_card)
    = form_tag('/timecard', remote: true, id: 'timecard-form') do |f|
      = submit_tag('出社', name: 'in', id: 'in', disabled: !!@time_card.in_at, class: 'btn btn-default')
      = submit_tag('退社', name: 'out', id: 'out', disabled: !@time_card.in_at || !!@time_card.out_at, class: 'btn btn-default')
    %div
      = button_to '勤務表確認', monthly_path, method: :get, class: 'btn btn-default'